##   Class JsonPath
##   LinkedHashMap project
##   Integer index
#set($projectContext=$JsonPath.parse($project))

#foreach($module in $project.modules)
    #if($projectContext.read("$.envJtee.datasources[?(@.id=='$module.datasource')]")[0].databaseType=='postgresql')
        @create_table_${module.id}.sql;
    #end
#end
#foreach($module in $project.modules)
    #if($projectContext.read("$.envJtee.datasources[?(@.id=='$module.datasource')]")[0].databaseType=='postgresql')
    @create_view_${module.id}.sql;
    #end
#end
