##   Class JsonPath
##   Class ArrayUtils
##   LinkedHashMap project
#set($projectContext=$JsonPath.parse($project))

#set($modules=$project.modules.toArray())
#foreach($module in $modules)
    #if($projectContext.read("$.envJtee.datasources[?(@.id=='$module.datasource')]")[0].databaseType=='postgresql')
        @drop_view_${module.id}.sql;
    #end
#end
#foreach($module in $modules)
    #if($projectContext.read("$.envJtee.datasources[?(@.id=='$module.datasource')]")[0].databaseType=='postgresql')
        @drop_table_${module.id}.sql;
    #end
#end
