##   JsonPath
##   LinkedHashMap project
##   Integer index
#set($projectContext=$JsonPath.parse($project))

#set($datasource=$project.envJtee.datasources[$index])
#foreach($module in $projectContext.read("$.modules[?(@.datasource=='$datasource.id')]"))
    #if($datasource.databaseType=="oracle")
        @${datasource.id}_create_view_${module.id}.sql;
    #elseif($datasource.databaseType=="postgresql")
        \i ./${datasource.id}_create_view_${module.id}.sql;
    #end
#end
