##   LinkedHashMap project
##   Integer index

#set($datasource=$project.envJtee.datasources[$index])
#if($datasource.databaseType=="oracle")
    @${datasource.id}_create_tables.sql;
    @${datasource.id}_create_views.sql;
#elseif($datasource.databaseType=="postgresql")
    \i ./${datasource.id}_create_tables.sql;
    \i ./${datasource.id}_create_views.sql;
#end